<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

     <appSettings>
          <add key="IsSecure" value="false"/>
     </appSettings>

     <system.webServer>
          <security>
               <authentication>
                    <basicAuthentication enabled="false" />
               </authentication>
          </security>
     </system.webServer>


     <connectionStrings>
          <add name="ConnString" connectionString="Data Source=localhost;Initial Catalog=healthstop;User ID=sa;Password=Password1;" providerName="System.Data.SqlClient" />
     </connectionStrings>
     
     
     <system.net>
          <mailSettings>
               <smtp>
                    <network host="smtp.optusnet.com.au" port="25"/>
               </smtp>
          </mailSettings>
     </system.net>
     <system.web>         
          <!--Set the locale for Australia for datetimes etc.-->
          <globalization uiCulture="en" culture="en-AU"/>
          <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
          <compilation debug="true" targetFramework="4.0">
               <assemblies>
                    <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
               </assemblies>
          </compilation>

          <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
          <authentication mode="Forms">
               <forms loginUrl="login.aspx" timeout="60" defaultUrl="/manage/SelectCompany.aspx"/>
          </authentication>

          <machineKey validationKey="30A065455E0E326E645D57F5CF04FC67B4A8069460D0A0CD425EAE84787E982EE71C299DFC60F82DDD2B0463F0733CDC6C426D0473409AB51E4B029947FCFDEF" decryptionKey="06A3EFB78DEE9C03EF7459F4E76F7F7EDE11140BAC4D47DC50B0D7B329D06BE0" validation="SHA1" decryption="AES"/>
          
          <sessionState timeout="60"/>
          <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
          <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
               <controls>
                    <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
               </controls>
          </pages>
     </system.web>    

     <system.serviceModel>
          <behaviors>
               <serviceBehaviors>
                    <behavior name="">
                         <serviceMetadata httpGetEnabled="true" />
                         <serviceDebug includeExceptionDetailInFaults="false" />
                    </behavior>
               </serviceBehaviors>
          </behaviors>
          <serviceHostingEnvironment aspNetCompatibilityEnabled="true"   multipleSiteBindingsEnabled="true" />
          <standardEndpoints>
               <webHttpEndpoint>
                    <standardEndpoint name="" helpEnabled="true"  maxReceivedMessageSize="65536000"/>
               </webHttpEndpoint>
          </standardEndpoints>


          <bindings />
          <client />
     </system.serviceModel>
</configuration>
